---
layout: home
---
<h1 class="title">A mai napra: </h1>

<blockquote>
  <p id="napituti">{% include_relative napipatrik %}</p>
</blockquote>
<div class="buttonContainer">
  <button class="button" onclick="shuffle(); return false;">Véletlen tuti</button>
  <a class="button" id="permalink" href="/#{% include_relative napipatrik.id %}">Permalink</a>
  <a class="button" href="/napipatrik.jpg" target="_blank">Napi kép</a>
</div>


<script type="text/javascript" src="assets/js/moment.min.js"></script>
<script type="text/javascript" src="assets/js/patrikok.js"></script>
<script type="text/javascript" src="assets/js/functions.js"></script>
<script type="text/javascript">
    if (window.location.hash) {
        showPatrik(window.location.hash.replace('#', ''));
    }
</script>
